body    
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8c7aa;
}
h3 {
    text-align: center;
    color: #4b2e0f;
    margin-top: 20px;
    font-size: 40px;
}

form {
    text-align: center;
    margin:30px 0 20px 0;
}
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}
.search-bar:focus {
    outline: none;
    border-color: #a99c7f;
}