body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    gap: 10px;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    background-color: rgb(206, 193, 173);
}
label{
    text-align: left;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(98, 88, 52);
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 500px;
    height: 600px;
    gap: 5px;
    background-color: rgb(210, 169, 88);
    box-shadow: 5px 5px 15px rgb(150, 111, 34);
}
::placeholder{
    color: rgb(84, 84, 84);
    font-size: 15px;
    font-style: oblique;
}
h3{
    color: rgb(78, 58, 7);
    font-size: 3rem;
    margin-top: 10px;
    font-weight: 400px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    width: 350px;
    color: rgb(84, 84, 84);
    margin-bottom: 10px;
    padding: 10px;
    height: 12px;
    border: 3px solid rgb(62, 43, 18);
    border-radius: 20px;
    font-size: 16px;
}
:focus{
    outline: none;
    border: 3.5px solid rgb(169, 163, 9);
}
button{
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(78, 58, 7);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(95, 90, 74);
    transition: all 0.2s ease-in-out;
}body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(78, 58, 7);
}
a{
    text-decoration: none;
    color: rgb(62, 43, 18);
    font-weight: bold;
    font-style: italic;
    
}
a:hover{
    color: rgb(95, 90, 74);
    transition: all 0.2s ease-in-out;
}
.error{
    color: red;
    font-weight: bold;
}